* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    font-family: sans-serif;
}
[data-i] {
    display: none;
}
[data-i="0"] {
    display: block;
}
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.col-40 {
    width: 40%;
    padding: 10px 0;
}
.col-10 {
    width: 10%;
    padding: 10px 0;
}
img {
    width: 100%;
}
.image {
    width: 221px;
    top: 15px;
    left: 9px;
    position: relative;
}
.image-container {
    position: absolute;
    width: 240px;
    height: 433px;
    overflow: hidden;
}
#mobile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#mobileviewer {
    position: relative;
    height: 433px;
    width: 240px;
    margin: 0 auto;
}
.mobile-skin {
  box-shadow: 1px 1px 15px 1px #08080880;
  border-radius: 10px;
}
#prev {
  background-image: url(images/button.png);
  width: 26px;
  height: 31px;
  display: block;
  opacity: 0.3;
}
#next {
  background-image: url(images/button-next.png);
  width: 26px;
  height: 31px;
  display: block;
  opacity: 0.3;
}
#prev:hover, #next:hover {
    opacity: 1;
    transition: .3s;
}
.fbx-button {
    display:flex;
    justify-content:center;
    text-align: center;
}
#text-panel {
    align-self: flex-start;
    margin-top: 88px;
}
#text-panel h2 {
    font-size: 32px;
    color: #00b8c0;
}
#text-panel p {
    margin-top: 10px;
    color: #2f2f2f;
    font-size: 16px;
}
#phone-notification-tray {
    position: absolute;
    width: 220px;
    top: 15px;
    left: 9px;
}
@keyframes listofapps {
    from {transform: translate(0,0px);}
    to {transform: translate(0,-470px);}
}
@keyframes listofapps2 {
    from {transform: translate(0,0px);}
    to {transform: translate(0,-1225px);}
}
.animate-applist {
    animation-name: listofapps;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 6;
    animation-delay: 0.5s;
}
.animate-applist2 {
    animation-name: listofapps2;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 6;
    animation-delay: 0.5s;
}
#attribution {
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  height: 50px;
  align-items: center;
  flex-flow: row nowrap;
}
#attribution span {
    color: #b1b1b1;
    margin-left: 20px;
    font-size: 12px;
}
#attribution img {
  width: 110px;
  margin-left: 20px;
}
@media only screen and (max-width: 610px) {
    #mobile-container {
      width: 45%;
  }
  #text-panel {
      width: 35%;
  }
  h2 {
      font-size: 18px !important;
  }
  p {
      font-size: 14px !important;
  }
}
@media only screen and (max-width: 540px) {

    #mobile-container {
      width: 55%;
  }
  #text-panel {
      width: 25%;
  }
  h2 {
      font-size: 14px !important;
  }
  p {
      font-size: 11px !important;
  }
  small {
      font-size: 9px;
  }
}

@media only screen and (max-width: 450px) {
  #mobile-container {
    width: 80%;
  }
  #mobileviewer {
  }
  #text-panel {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 51px;
    background: rgba(255, 255, 255, 0.95)
  }
  #text-panel p {
    margin-top: 0px;
    margin-left: 5px;
  }
  #text-panel h2 {
    margin-left: 5px;
  }
  #attribution img {
    width: 80px;
    margin-left: 5px;
  }
  #attribution span {
    margin-left: 10px;
    font-size: 10px;
  }
}
#embedcode {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 1;
    top: 0;
}
#embedcode small {
    display: block;
    margin-top: 10px;
}
#embedcode #code {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    background-color: white;
    padding: 11px;
} 
a {
  text-decoration: none;
  color: #cb2128
}